{% extends "base.html" %}

{% block title %}
N2 | {{ title }}
{% endblock %}

{% block content %}
<div class="row columns" style="margin-top: 50px"></div>
<div class="row">
    <div class="columns large-2">
        &nbsp;
    </div>
    <div class="columns large-8">
        <h3 class="a2a">N2 Reports</h3>
        <table>
            <thead>
            <tr>
                <th width="100">ID</th>
                <th>Report Name</th>
                <th width="150">Creation Date</th>
                <th width="150">Is Complete?</th>
                <th width="50">&nbsp;</th>
                <th width="50">&nbsp;</th>
            </tr>
            </thead>
            <tbody>
            {% for item in items %}
            {% if item %}
            <tr>
                <td>{{ item.id }}</td>
                <td contenteditable='true'>{{ item.name }}</td>
                <td contenteditable='true'>{{ item.created }}</td>
                {% if item.isComplete %}
                <td><i class="far fa-check-circle"></i></td>
                {% else %}
                <td><i class="far fa-circle"></i></td>
                {% endif %}
                <td><a href="#"><i class="fas fa-edit"></i></a></td>
                <td>
                    <a id="deleteitem{{ item.id }}"
                       href="#"
                       onclick="askfordelete({{ item.id }}, '{{ item.name }}');return false;">
                    <i class="fas fa-times-circle"></i>
                    </a>
                </td>
            </tr>
            {% endif %}
            {% endfor %}
                <form>
                    <tr id="addone" style="display: none">
                        <td>&nbsp;</td>
                        <td><input id="newname" title="Report Name" type="text" placeholder="Report Name..."
                                   required="required"></td>
                        <td><input id="newdate" title="Report Date" type="date" required="required"></td>
                        <td><input id="newcomplete" title="Is Complete" type="checkbox"></td>
                        <td>
                            <span data-tooltip
                                  aria-haspopup="true"
                                  class="has-tip top"
                                  data-disable-hover="false"
                                  tabindex="2"
                                  title="Save new item">
                                <i class="fas fa-save" style="color:darkred" onclick="savenew()"></i>
                            </span>
                        </td>
                        <td>
                            <span data-tooltip
                                  aria-haspopup="true"
                                  class="has-tip top"
                                  data-disable-hover="false"
                                  tabindex="2"
                                  title="Cancel">
                            <i class="fas fa-times-circle" style="color:darkred" onclick="hideadd()"></i>
                            </span>
                        </td>
                    </tr>
                </form>
            </tbody>

        </table>
        <button id="addnewbutton" class="success button" onclick="showadd()">Add new</button>
    </div>
    <div class="columns large-2">
        &nbsp;
    </div>
</div>
<div class="row columns">&nbsp;
</div>
{% endblock %}

{% block latejavascripts %}
<script src="js/reports.js"></script>
{% endblock %}
